*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.cont-head {
    width: 30%;
    margin: auto;
    padding: 30px;
    text-align: center;
}
  
.logo{
    margin-bottom: 10px;
}
.logo img{
    height: 50px;
    width: 70%;
}
    
.contenitore{
    background-color: rgb(203, 216, 240);
    width: 60%;
    margin: auto;
    padding: 10px;
    
}

.contenitore ul li{
    padding: 10px;
    list-style: none;
    border-bottom: 1px solid grey;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}
  
.contenitore ul li:hover {
    background-color: white;
}
  
