*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.cont-head {
    width: 30%;
    margin: auto;
    padding: 30px;
    background-color: pink;
}
  
.logo{
display: flex;
justify-content: center;
}

.logo img{
    height: 50px;
    width: 70%;
}

.head-basso{
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.contenitore{
    background-color: cornflowerblue;
    width: 60%;
    margin: auto;
    padding: 10px;
}

.contenitore ul li{
    padding: 10px;
    list-style: none;
    border-bottom: 1px solid lightgrey;
}
  